.about {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.859);
  color: whitesmoke;
  padding: 0 1rem;
}

.about h3 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.about h4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

li {
  display: flex;
  text-align: left;
  font-size: 1.2rem;
  margin-top: 0.3rem;
  font-style: italic;
  display: list-item;
  list-style-type: square;
  list-style-position: inside;
}
