.gallery {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: space-evenly;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: rgba(128, 128, 128, 0.859);
}

.close__gallery {
  position: fixed;
  top: 9.5rem;
  right: 48.5vw;
}

.galleryPhotos {
  background-color: rgba(128, 128, 128, 0.174);
}
