.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgb(0, 0, 0);
  cursor: pointer;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  max-width: 100vw;
  max-height: 82vh;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: contain;
  background-position: center;
}

.mySwiper {
  height: 100%;
  width: 100%;
  background-color: black;
}

.mySwiper2 {
  box-sizing: border-box;
  padding: 10px 0;
  background-color: black;
}

.mySwiper2 .swiper-slide {
  width: 25%;
  height: 50%;
  opacity: 0.4;
}

.mySwiper2 .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buttonDiv {
  position: fixed;
  z-index: 1;
  top: 2px;
  right: 2px;
}

.close__button {
  padding: 0 0.3em;
  font-size: 1.2rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  /* font-size: 1rem; */
  border-radius: 0.4em;
}
.close__button:hover {
  cursor: pointer;
  color: black;
  background-color: #fff;
}
