/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ====================== end css reset ====================== */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap");
/* ====================== end google font ====================== */

body {
  font-family: "Lato", sans-serif;
  color: whitesmoke;
}
.App {
  text-align: center;
  background: url("../public/assets/pharohs/pharoh-9.jpg");
  background-position-y: 7rem;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  text-shadow: 1px 2px 2px black;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  transform: scale3d(1.08, 1.08, 1.08);
  text-shadow: 5px 5px 5px black;
}

.nav a:hover {
  text-shadow: 0.5px 1px 1px whitesmoke;
}

a:active {
  color: goldenrod;
}

* {
  font-family: "Lato", sans-serif;
}
